section{
    min-width: 400px;
    width: 450px;
    max-width: 1000px;
    margin: 6rem auto 0;
    border: 2px solid white;
    background-color: rgba(0, 145, 255, 0.215);
    box-shadow: 0 0 20px rgb(0, 110, 255);
    padding: 1rem;
    border-radius: 1rem;
    
    h2{font-weight: bold;}
    hr{
        background-color: white;
        color: white;
    }
    p{
        line-height: 1.5rem;
        font-weight: 400;
    }
}