<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About</ion-title>
    </ion-toolbar>
  </ion-header>

  <section>
    <h2>About This Project</h2>
    <hr>
    <p>
      If you are visiting this project, you should know why this project was created... <br>
      This project was built and developed to work with the Ionic environment and get familiar with the multi-platform
      coding environment, and solving the challenges that were in front of me helped me to get comfortable with this
      environment.
    </p>
    <ion-button [routerLink]="['/tabs/tab2']">See Project</ion-button>
  </section>


</ion-content>